<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Oracle Corporation//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
        <servlet-name>demo</servlet-name>
        <servlet-class>myapp.DemoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>servlet.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>connexion</servlet-name>
        <servlet-class>servlet.Connexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>leaderboard</servlet-name>
        <servlet-class>servlet.LeaderBoard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>creation</servlet-name>
        <servlet-class>servlet.CreationUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>main</servlet-name>
        <servlet-class>servlet.MainPage</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>demo</servlet-name>
        <url-pattern>/demo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>connexion</servlet-name>
        <url-pattern>/connexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>leaderboard</servlet-name>
        <url-pattern>/leaderboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>creation</servlet-name>
        <url-pattern>/creation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
